.master{
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    width: 100%;
    overflow-x: hidden;
}
.background{
    position: relative;
}
.background1{
    position: absolute;
    right: 0;
    height: 100%;
    z-index: -1;
}
/* Section 1 */
.main{
    width: 100%;
}
.contain{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 3rem;
    background-image: url("./images/Vector\ 3.png");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: scroll;
}
.postSection1 {
    position: relative;
}
.postSection1 h2 {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 300px;
    font-size: 3rem;
    color: white;
}

.sub_contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.box{
    margin: 0;
    padding: 0;
}
.background2{
    background-image: url("./images/Vector\ 3.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
    height: 50rem;
}
/* Section 2 */
.section2 {
    display: flex;
    width: 100vw;
    margin-top: 3rem;
    height: auto;
}
.firstContainerS2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    display: flex;
}
.firstContainerS2 h2 {
    text-align: center;
    font-size: 40px;
}
.fContainerS2{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
}
.fContainerS2 h3{
    margin: 0;
    padding: 15px;
    font-size: 25px;
}
.pallevars2{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    background-color: black;
}
.pallevars2{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    background-color: black;
}
.fContainerS2 img{
   margin-right: 8px;
}
.domicilios2{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.secondContainerS2{
    width: 60%;
}
.secondContainerS2 img{
    width: 100%;
}

.inputS2{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-image: url('./images/search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
.directionsS2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.directionsS2 p{
    margin: 0;
}
.directionsS2 h3{
    font-size: 20px;
    margin-bottom: 0;
}
.directionsS2 p{
    font-size: 16px;
}
.direction1S2{
    border: 1px solid black;
    width: 85%;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 10px;
}
.direction2S2{
    border: 1px solid black;
    width: 85%;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 10px;
}
.direction3S2{
    border: 1px solid black;
    width: 85%;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 10px;
}
/* Section 3 */
.section3{
    position: relative;
    width: 100%;
    height: 35rem;
    margin-top: 5rem;
}
.salsa1{
    position: absolute;
}
.salsa2{
    position: absolute;
    right: 0;
    bottom: -60px;
    height: 100%;
}
.botedeSalsa {
    position: absolute;
    right: -10px;
    bottom: -125px;
    height: 725px;
}
.section3 h2 {
    margin-top: 8rem;
    font-size: 36px;
    font-weight: 800;
}

/* Section 4 */
.section4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black ;
    color: white;
    padding: 3rem;

}
.textS4{
    width: 60%;
}
.section4 h2{
    text-align: center;
    margin-top: 2rem;
    font-size: 36px;
    font-weight: 700;
}
.section4 p{
    text-align: center;
    font-size: 24px;
    font-weight: 200;
}
.commentsS4{
    display: flex;
    flex-direction: row;
    width: 70%;
    text-align: start;
    margin-top: 2rem;
}
.inputsS4 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-right: 1rem;
}
.inputsS4 input{
    border-radius: 5px;
    border: 1px solid white;
    background-color: black;
    width: 100%;
    height: 3rem;
}
.commentTextS4{
    width: 60%;
}
.commentTextS4 input{
    height: 84%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid white;
    background-color: black;
}
.buttonS4{
    display: flex;
    justify-content: end;
    width: 70%;
    margin-top: 1.5rem;
}
.buttonS4 button{
  background-color: #FFC700;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: black;
  padding: 12px 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}


/* Section 5 */
.section5{
    display: flex;
    width: 100%;
}
.section5Image{
    position: relative;
    width: 45%;
}
.phoneS5 {
    position: relative;
    top: -100px;
}
.section5Info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    width: 55%;
}
.containerGridS5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 5rem;
    gap: 1rem;
}
.containerGridS5 a{
    font-size: 20px;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.containerGridS5 p{
    text-align: center;
}
.gridContainer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gridContainer2{
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gridContainer3{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10em;
    padding-right: 10rem;
}

@media only screen and (max-width: 430px) {
    body {
      background-color: lightblue;
    }
  }