.text{
   font-weight: 800 !important;
}

.encuentranos {
    font-weight: 500;
    font-size: 20px;
 }
 .text-black {
   color: black !important;
   
 }
 
 .text-white {
   color: white !important;
 }

 @media (max-width: 875px) {
    /* -------------- Hero Section -------------------- */
   
 }

 @media (max-width: 500px) {
    /* -------------- Hero Section -------------------- */
   .phone{
      margin-top: 5rem;
   }
   .text{
      font-size: 50px !important;   
   }
 }