.menu {
    display: flex;
    align-items: center;
    justify-content: start; 
    width: 100%;
    height: 4rem;
}

.logo a{
    margin-left: 4rem;
    font-size: 27px;
    font-weight: 900;
}

.options{
    display: flex;
    height: 100%;
    margin-left: 3rem;
}
.menuList{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.menuList li{
    margin-left: 2rem;
    font-size: 18px;
    font-weight: 500;
}

.menuIcon{
    display: none;
}

@media only screen and (max-width: 854px) {

   .disapear {
    display: none;
   }
   .menu {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    height: 4rem;
    }   
    .logo{
        margin-left: 2rem;
        font-size: 27px;
        font-weight: 900;
    }
    .menuIcon{
        margin-right: 2rem;
        display: flex;
    }
}