.master{
   height: 100vh;
   width: 100vw;
   margin: 0;
   padding: 0;
   font-family: "Poppins", sans-serif;
   overflow-x: hidden;
}


/* -------------- Hero Section  -------------------- */

.background{
   position: relative;
   z-index: 0;
   width: 100%;
}
.background1{
   position: absolute;
   right: 0;
   top: -50px;
   z-index: -1;
}

.span{
   position: absolute;
   top: 21.875rem;
   left: 5rem;
   height: 4rem;
   width: 22rem;
   z-index: -1;
}

/* -------------- Section 1 -------------------- */
.section1{
   position: relative;
}
.background2{
   position: absolute;
   width: 50%;
   top: 120px;
   right: 0;
}
.main{
   width: 100%;
   margin-top: 10rem;
}
.contain{
   display: flex;
   flex-direction: row;
   width: 100%;
   margin-top: 3rem;
}
.postSection1 {
   position: relative;
   width: 65%;
}
.img2 {
   height: 565px;
   width: 100%;
}
.postSection1 h2 {
   position: absolute;
   bottom: 40px;  
   right: -60px;
   width: 70%;
   font-size: 50px;
   font-weight: 700;
   color: white;
   line-height: 90%;
   letter-spacing: 2px
}

.sub_contain{
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 2rem;
   width: 40%;
}
.sub_contain h2 {
   font-size: 22px;
}
.span2{
   color: #FFC700;
}

/* -------------- Section 2 -------------------- */

.section2 {
   display: flex;
   width: 100%;
   margin-top: 3rem;
   height: auto;
}
.firstContainerS2{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 40%;
}
.firstContainerS2 h2 {
   text-align: center;
   font-size: 40px;
}
.fContainerS2{
   display: flex;
   justify-content: space-around;
   width: 100%;
   height: auto;
}
.fContainerS2 h3{
   margin: 0;
   padding: 15px;
   font-size: 25px;
}
.pallevars2{
   display: flex;
   width: 50%;
   justify-content: center;
   align-items: center;
   font-size: 25px;
   color: white;
   background-color: black;
}
.pallevars2{
   display: flex;
   width: 50%;
   justify-content: center;
   align-items: center;
   font-size: 25px;
   color: white;
   background-color: black;
}
.fContainerS2 img{
  margin-right: 8px;
}
.domicilios2{
   display: flex;
   width: 50%;
   justify-content: center;
   align-items: center;
   font-size: 40px;
}
.secondContainerS2{
   width: 60%;
}
.secondContainerS2 img{
   width: 100%;
}

.inputS2{
   width: 100%;
   padding: 12px 20px;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   background-image: url('../public/images/search.png');
   background-position: 10px 10px; 
   background-repeat: no-repeat;
   padding: 12px 20px 12px 40px;
}
.directionsS2{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.directionsS2 p{
   margin: 0;
}
.directionsS2 h3{
   font-size: 20px;
   margin-bottom: 0;
}
.directionsS2 p{
   font-size: 16px;
}
.direction1S2{
   border: 1px solid black;
   width: 85%;
   border-radius: 10px;
   margin-top: 1rem;
   padding: 10px;
}
.direction2S2{
   border: 1px solid black;
   width: 85%;
   border-radius: 10px;
   margin-top: 1rem;
   padding: 10px;
}
.direction3S2{
   border: 1px solid black;
   width: 85%;
   border-radius: 10px;
   margin-top: 1rem;
   padding: 10px;
}

/* -------------- Section 3 -------------------- */

.section3{
   position: relative;
   width: 100%;
   height: 35rem;
   margin-top: 5rem;
}
.salsa1{
   position: absolute;
}
.salsa2{
   position: absolute;
   right: 0;
   bottom: -60px;
   height: 100%;
}
.botedeSalsa {
   position: absolute;
   right: -10px;
   bottom: -125px;
   height: 725px;
}
.section3 h2 {
   margin-top: 8rem;
   font-size: 36px;
   font-weight: 800;
}

/* -------------- Section 4 -------------------- */

.section4{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: black ;
   color: white;
   padding: 3rem;

}
.textS4{
   width: 60%;
}
.section4 h2{
   text-align: center;
   margin-top: 2rem;
   font-size: 36px;
   font-weight: 700;
}
.section4 p{
   text-align: center;
   font-size: 24px;
   font-weight: 200;
}
.commentsS4{
   display: flex;
   flex-direction: row;
   width: 70%;
   text-align: start;
   margin-top: 2rem;
}
.inputsS4 {
   width: 40%;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: start;
   padding-right: 1rem;
}
.inputsS4 input{
   border-radius: 5px;
   border: 1px solid white;
   background-color: black;
   width: 100%;
   height: 3rem;
}
.commentTextS4{
   width: 60%;
}
.commentTextS4 input{
   height: 84%;
   width: 100%;
   border-radius: 5px;
   border: 1px solid white;
   background-color: black;
}
.buttonS4{
   display: flex;
   justify-content: end;
   width: 70%;
   margin-top: 1.5rem;
}
.buttonS4 button{
 background-color: #FFC700;
 border: none;
 border-radius: 5px;
 font-weight: 500;
 color: black;
 padding: 12px 30px;
 text-align: center;
 display: inline-block;
 font-size: 16px;
}


/* -------------- Section 5 -------------------- */


.section5{
   display: flex;
   width: 100%;
   margin-bottom: 10rem;
}
.section5Image{
   position: relative;
   width: 45%;
}
.phoneS5 {
   position: absolute;
   top: -100px;
}
.section5Info{
   display: flex;
   flex-direction: column;
   position: relative;
   align-items: center;
   padding-top: 5rem;
   width: 55%;
   z-index: 0;
}
.containerGridS5{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   margin-top: 5rem;
   gap: 1rem;
   row-gap: 4rem;
}
.containerGridS5 a{
   font-size: 20px;
   font-weight: 600;
   margin-top: 2rem;
   margin-bottom: 2rem;
}
.containerGridS5 p{
   text-align: center;
}
.gridContainer1{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.gridContainer2{
   grid-column-start: 2;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.gridContainer3{
   grid-column-start: 1;
   grid-column-end: 3;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-left: 10rem;
   padding-right: 10rem;
}
.group1{
   position: absolute;
   left: 9.375rem;
   top: 13.75rem;
}
.group2{
   position: absolute;
   right: 9.375rem; 
   top: 13.75rem;
}
.group3{
   position: absolute;
   top: 28.125rem;
   left: 19.375rem;
}
.lineaD{
   position: absolute;
   top: 15rem;
   left: 5.625rem;
}
.lineaI{
   position: absolute;
   top: 15rem;
   right: 5rem;
}
.spanFinal{
   position: absolute;
   top: 7.5rem;
   width: 25rem;
   z-index: -1;
}


@media (max-width: 950px) {
   /* -------------- Hero Section -------------------- */
   .background1{
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
      width: 60%;
      height: 35rem;
   }
   .span{
      position: absolute;
      top: 13.5rem;
      left: 3.4rem;
      width: 23rem;
   }
   /* -------------- Section 1 -------------------- */
   .background2{
         width: 100%;
         top: auto;
         bottom: 0;
   }
   .main{
      width: 100%;
   }
   .contain{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 3rem;
   }
   .postSection1 {
      position: relative;
      width: 100%;
      height: 565px;
   }
   .img2 {
      position: absolute;
      height: 565px;
      width: 100%;
   }
   .postSection1 h2 {
      position: absolute;
      bottom: 40px;  
      right: 0;
      width: 65%;
   }
   .sub_contain{
      padding-top: 6rem;
      padding-bottom: 6rem;
      width: 100%;
   }
    /* -------------- Section 2 -------------------- */
    .section2 {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 2rem;
   }
   .firstContainerS2{
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 100%;
   }
   .firstContainerS2 h2{
      padding-left: 3rem;
   }
   .secondContainerS2{
      width: 100%;
      margin-top: 2rem;
   }
   .secondContainerS2 img{
      width: 100%;
      height: 457px;
   }
   /* -------------- Section 3 -------------------- */
   .section3{
      position: relative;
      width: 100%;
      height: 35rem;
      margin-top: 5rem;
   }
   .salsa1{
      position: absolute;
      top: -60px;
   }
   .botedeSalsa {
      display: none;
   }
   .section3 h2 {
      margin-top: 8rem;
      font-size: 36px;
      font-weight: 800;
   }
   /* -------------- Section 4 -------------------- */
   .section4{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: black ;
      color: white;
      padding: 3rem;
      height: 70rem;
   }
   .textS4{
      width: 100%;
   }
   .section4 h2{
      text-align: center;
      margin-top: 2rem;
      font-size: 50px;
      line-height: 80%;
      margin-bottom: 1rem;
   }
   .commentsS4{
      display: flex;
      flex-direction: column;
      width: 100%;
   }
   .inputsS4 {
      width: 100%;
      padding-right: 0;
   }
   .inputsS4 input{
      width: 100%;
   }
   .commentTextS4{
      width: 100%;
   }
   .commentTextS4 input{
      height: 200px;
      width: 100%;
   }
   .buttonS4{
      justify-content: center;
   }

/* -------------- Section 5 -------------------- */

   .section5{
      flex-direction: column;
   }
   .section5Image{
      position: relative;
      width: 100%;
      height: 50rem;
   }
   .phoneS5 {
      position: relative;
      top: -200px;
      height: 70rem;
   }
   .section5Info{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 0;
      width: 100%;
   }
   .section5Info h2{
      font-size: 35px;
      font-weight: 700;
   }
   .containerGridS5{
      row-gap: 6rem;
   }
   .group1{
      left: 185px;
      top: 150px;
   }
   .group2{
      right: 180px;
      top: 150px;
   }
   .group3{
      top: 400px;
      left: 380px;
   }
   .lineaD{
      top: 180px;
      left: 130px;
   }
   .lineaI{ 
      top: 180px;
      right: 120px;
   }
   .spanFinal{
      height: 3rem;
      top: 40px;  
   }
}

@media only screen and (max-width: 500px) {
   /* -------------- Hero Section -------------------- */
   .background1{
      position: absolute;
      right: 0;
      z-index: -1;
      width: 100%;
      height: 60%;
   }
   .main{
      width: 100%;
      margin-top: 0;
      }
   .span{
      position: absolute;
      top: auto;
      bottom: 140px;
      left: 15px;
      height: 3.5rem;
      width:260px;
      z-index: -1;
   }   
   /* -------------- Section 1 -------------------- */
   .background2{
      display: none;
   }
   .img2 {
      position: absolute;
      height: 565px;
      width: 800px;
      left: -150px;
   }
   .postSection1 h2 {
      position: absolute;
      bottom: 40px;  
      right: 0;
      width: 80%;
   }
   /* -------------- Section 2 -------------------- */
   .section2 {
      margin-top: 0;
   }
   .firstContainerS2 h2{
      padding-left: 0;
   }
   .secondContainerS2{
      display: none;
   }
   /* -------------- Section 3 -------------------- */
   .section3{
      position: relative;
      width: 100%;
      height: 35rem;
      margin-top: 0;
   }
   .salsa1{
      display: none;
   }
   .salsa2{
      display: none;
   }
   .botedeSalsa {
      display: none;
   }
   /* -------------- Section 4 -------------------- */
   
   /* -------------- Section 5 -------------------- */

   .section5{
      flex-direction: column;
   }
   .section5Image{
      position: relative;
      width: 100%;
      height: 30rem;
   }
   .phoneS5 {
      width: 38rem;
      top: -7.5rem;
      right: 1.875em;
      height: 40rem;   
   }
   .containerGridS5{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 2rem;
   }
   .containerGridS5 a{
      font-size: 20px;
      font-weight: 600;
      margin-top: 2rem;
      margin-bottom: 2rem;
   }
   .containerGridS5 p{
      text-align: center;
   }
   .gridContainer1{
      width: 80%;
   }
   .gridContainer2{
      width: 80%;
   }
   .gridContainer3{
      width: 80%;
      padding-left: 0;
      padding-right: 0;
   }
   .group1{
      left: 11.875rem;
      top: 9.375rem;
   }
   .group2{
      right: auto;
      left: 11.875rem;
      top: 21.25rem;
   }
   .group3{
      left: 11.875rem;
      top: 33.125rem;
   }
   .lineaD{
      display: none;
   }
   .lineaI{ 
      display: none;
   }
   .spanFinal{
      height: 3rem;
      top: 40px;  
   }
 }


 @media only screen and (max-width: 390px) {
       /* -------------- Heroo -------------------- */
   .span{
      width: 22rem;
   }


      /* -------------- Section 5 -------------------- */
   .group1{
      left: 11rem;
      top: 9.375rem;
   }
   .group2{
      right: auto;
      left: 11rem;
      top: 21.5rem;
   }
   .group3{
      left: 11rem;
      top: 33.5rem;
   }
   .spanFinal{
      height: 3rem;
      top: 40px;  
   }
 }